{% extends 'base.html.twig' %}

{% block title 'Sensio TV Movie' %}

{% block body %}
<div class="d-flex justify-content-center">
    <div>
        <h1>{{ movie.title }}</h1>

        <img class="movie-img" src="{{ movie.image }}"/>

        <ul>
            <li><strong>Release date: </strong>{{ movie.releaseDate|format_datetime('full', 'none') }}</li>
            <li><strong>Genre(s): </strong>{{ movie.genres|join(', ') }}</li>
            <li><strong>Rating: </strong>{{ (movie.rating / 10)|number_format(1) }}</li>
            <li><strong>PG: </strong>{{ movie.pg }}</li>
        </ul>
    </div>
</div>
{% endblock %}
